In [2]:
import pandas as pd
df=pd.read_csv("Phishing_Email.csv")
df.head()

,Unnamed: 0,Email Text,Email Type
0,0,"re : 6 . 1100 , disc : uniformitarianism , re ...",Safe Email
1,1,the other side of * galicismos * * galicismo *...,Safe Email
2,2,re : equistar deal tickets are you still avail...,Safe Email
3,3,\nHello I am your hot lil horny toy.\n I am...,Phishing Email
4,4,software at incredibly low prices ( 86 % lower...,Phishing Email

In [3]:
df.groupby("Email Type").describe()

               Unnamed: 0                                                  \
                    count         mean          std  min      25%     50%
Email Type
Phishing Email     7328.0  9274.626774  5396.186140  3.0  4533.50  9269.5
Safe Email        11322.0  9357.857799  5376.623249  0.0  4728.25  9364.0


                     75%      max
Email Type
Phishing Email  13927.25  18650.0
Safe Email      14031.25  18649.0

In [4]:
df['spam']=df['Email Type'].apply(lambda x: 1 if x=='Safe Email' else 0)
df.head()

,Unnamed: 0,Email Text,Email Type,spam
0,0,"re : 6 . 1100 , disc : uniformitarianism , re ...",Safe Email,1
1,1,the other side of * galicismos * * galicismo *...,Safe Email,1
2,2,re : equistar deal tickets are you still avail...,Safe Email,1
3,3,\nHello I am your hot lil horny toy.\n I am...,Phishing Email,0
4,4,software at incredibly low prices ( 86 % lower...,Phishing Email,0

In [5]:
df['Email Text'].isnull().values.any()

True

In [6]:
df1=df.dropna() 
df1.head()

,Unnamed: 0,Email Text,Email Type,spam
0,0,"re : 6 . 1100 , disc : uniformitarianism , re ...",Safe Email,1
1,1,the other side of * galicismos * * galicismo *...,Safe Email,1
2,2,re : equistar deal tickets are you still avail...,Safe Email,1
3,3,\nHello I am your hot lil horny toy.\n I am...,Phishing Email,0
4,4,software at incredibly low prices ( 86 % lower...,Phishing Email,0

df1=df.dropna()
df1.head()

In [7]:
df1['Email Text'].isnull().values.any()

False

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df1['Email Text'],df1.spam, test_size=0.25)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count= v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[ 1, 11,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 8, 17,  0, ...,  0,  0,  0]], dtype=int64)

In [10]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [11]:
emails=[
    'the other side of * galicismos * *',
    'upto 205 discount on parking,exclusive offer just for you.dont miss this reward'
]
emails_count=v.transform(emails)
model.predict(emails_count)

array([1, 0], dtype=int64)

In [12]:
x_test_count=v.transform(x_test)

y_pred=model.predict(x_test_count)

In [13]:
from sklearn.metrics import f1_score
f1 = f1_score(y_test, y_pred)
print("F1 score:", f1)

F1 score: 0.9701782248103052

In [19]:
df1.shape()

TypeError: 'tuple' object is not callable

# same code but shorter now

In [14]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [15]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [16]:
clf.score(x_train,y_train)

0.9765295169946333

TypeError: 'tuple' object is not callable